<%-include("header")%>

        Welcome to <%=uname%> <a href="/logout">Logout</a>

        <a href="/users/profile">Profile</a>
        <a href="/users/history">History</a>
        <a href="/users/npass">Change password</a>
        <a href="/users/proucts">Products</a>
        
        

        <%-include("footer")%>